<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  </head>
  <body>
    <select name="test" id="test" class="test">
      <option value="pisang">Pisang</option>
      <option value="mangga">Mangga</option>
      <option value="delima">Delima</option>
      <option value="jeruk">Jeruk</option>
      <option value="kedondong">Kedondong</option>
    </select>
  </body>
  <script>
    $(document).ready(function(){
      $('.test').select2()
      $('#test').val('jeruk').change()
    })
  </script>
</html>