<div class="modal fade" id="modalFollowup">
  <div class="modal-dialog modal-xl">
    <div class="modal-content bg">
      <div class="modal-header">
        <h4 class="modal-title">Penambahan Followup <span id="modalFollowuplabel"></span></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-body">
                  
                    <div class="form-group">
                        <label for="client">Keluhan</label>
                        <label for="" id="lblKeluhan"></label>
                    </div>
                    <div class="form-group">
                      <label for="nama">Pelapor</label>
                      <label for="" id="lblfupelapor"></label>
                    </div>
                    <div class="form-group">
                      <label for="nama">Tanggal</label>
                      <div class="input-group date" id="followupdate" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" data-target="#followupdate"/>
                        <div class="input-group-append" data-target="#followupdate" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="far fa-clock"></i></div>
                        </div>
                      </div>  
                    </div>
                    <div class="form-group">
                      <label for="nama">Action</label>
                      <textarea class="form-control" id="action"></textarea>
                    </div>
                  <div class="form-group">
                    <label for="nama">Kesimpulan</label>
                    <textarea class="form-control" id="kesimpulan"></textarea>
                  </div>
            </div>
            </div>
        </div>
        <div class="col-md-6">
          <div class="card card-primary">
              <div class="card-body">
                  <div class="form-group">
                      <label for="client">Main Root Cause</label>
                      <select class="form-control select2" id="smainrootcause" style="width: 100%;"></select>
                  </div>
                  <div class="form-group">
                    <label for="nama">Sub Root Cause</label>
                    <select class="form-control select2" id="ssubrootcause" style="width: 100%;"></select>
                  </div>
                  <div class="form-group">
                    <label for="nama">Hasil Konfirmasi</label>
                    <textarea class="form-control" id="hasilKonfirmasi"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="nama">PIC/Jabatan/Telp</label>
                    <input type="text" class="form-control" id="pic"><br>
                    <input type="text" class="form-control" id="Jabatan"><br>
                    <input type="text" class="form-control" id="telp">
                  </div>
                <div class="form-group">
                  <label for="nama">Konfirmasi Pelanggan</label>
                  <button class="btn btn-success">OK</button>
                  <button class="btn btn-primary">Belum OK</button>
                  <button class="btn btn-warning">Belum bisa dihubungi</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Tutup</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnSaveFollowup">Simpan</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
